html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.body{
    font-family: "Inknut Antiqua", serif;
}

.footer {
  padding: 10px 0;
}

.footer-icons {
  margin-top: 10px;
}

.footer-icons a {
  display: inline-block;
  margin: 0 10px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.footer-icons a:hover {
  opacity: 1;
}


/* FOOTER SA CONTACT PISTE YAWWA */
.footer1 {
  padding: 20px 0;
  margin-left: 72.6%;
  width: 502px;
}

.footer1-icons {
  margin-top: 10px;
}

.footer1-icons a {
  display: inline-block;
  margin: 0 10px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.footer1-icons a:hover {
  opacity: 1;
}
 /* Optional custom styles */
 .navbar {
  padding-left: 10%;
  padding-right: 10%;
  background-color: white !important;
  border-bottom: 1px solid black;
}

.navbar-brand {
  margin-right: 1rem;
  font-size: 25px;
  font-weight: bold;
  color: #af0000 !important;
  text-align: left; /* Optional: Align text in the center */
}

.navbar-brand div {
  display: block; /* Display each line as a block-level element */
}

.navbar-nav .nav-link {
  color: red !important;
  font-size: 17px;
  font-family: "Cuprum", sans-serif;

}
.nav-link {
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.nav-link:hover {
  color: #af0000; /* Color change on hover */
}

.dropdown-menu {
  border: 3px solid #af0000;
  border-radius: 10%;
  font-weight: bold;
  color: #af0000;
}

.dropdown-item {
  color: red !important; /* Set dropdown item font color */
  font-size: 17px;
  font-family: "Cuprum", sans-serif;
}

.dropdown-item:hover {
  color: #af0000;
}

.dropdown-divider {
  border: 1px solid #af0000;
}

.homepage-link {
  margin-right: 20px; /* Adjust the value as needed */
  margin-left: 20px;
  box-sizing: border-box;
}

.homepage-link a {
  font-size: 17px;
  font-family: "Cuprum", sans-serif;
}
.carousel-item img {
  max-height: 500px; /* Remove max-height to allow natural image size */
  height: auto; /* Ensure images maintain aspect ratio */
  max-width: 100%; /* Ensure images fit within carousel */
}

.carousel-item {
  height: auto; /* Adjust the height of carousel items */
  margin-top: 3.3%;
}


.carousel-buttons {
  margin-top: 30px;
  text-align: center;
}

.carousel-buttons a {
  display: inline-block; /* Ensure buttons are inline */
  margin: 0 5px; /* Adjust horizontal margin */
  padding: 8px 16px; /* Adjust padding for smaller buttons */
  text-decoration: none;
  border-radius: 5px;
}

.carousel-buttons img {
  height: 80px; /* Adjust image height */
  width: 220px; /* Adjust image width */
}
.carousel-control-prev,
.carousel-control-next {
  opacity: 0;
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next {
  opacity: 1;
}
.carousel-item {
  opacity: 0;
  transition: opacity 1s ease; /* Smooth fade transition */
}

.carousel-item.active {
  opacity: 1;
}
.dropdown-menu {
  display: none;
  opacity: 0;
  transition: all 0.3s ease; /* Smooth transition for visibility and opacity */
}
.bg-pj {
  background-image: url('../img/bg/bg bitch.png');
  background-size: cover;
  background-position: center;
  height: 850px;
  position: relative; /* Required for pseudo-element */
}

.youtube {
  display: flex;
  flex-direction: column; /* Display videos in a column */
  align-items: center; /* Center-align items horizontally */
  padding: 20px 0; /* Add padding as needed */
}

.youtube-video {
  margin-top: 5% !important; /* Adjust spacing between videos */
}
.youtube-video {
  transition: transform 0.2s ease; /* Smooth scale transition */
}

.youtube-video:hover {
  transform: scale(1.05); /* Scale up slightly on hover */
}


.dropdown-menu.show {
  display: block;
  opacity: 1;
}

.gallery-text {
  margin-bottom: 10px; /* Space below heading */
}

.gallery-text h1 {
  font-size: 145px; /* Adjust font size */
  color: #af0000; /* Adjust text color */
  margin-left: 15%;
  font-family: "Judson", serif;

}

.gallery-images {
  margin-bottom: 20px; /* Space below the single image */
}

.gallery-images img {
  max-width: 100%; /* Ensure image does not exceed container width */
  width: 25%; /* Set image width */
  border: 5px solid yellow; /* Yellow border */
  display: block; /* Ensure image is centered properly */
  margin: 0 auto; /* Center the image horizontally */
  height: auto; /* Maintain aspect ratio */
}

.gallery-double {
  display: flex; /* Use flexbox for side-by-side layout */
  justify-content: center; /* Center align horizontally */
  margin-top: 20px; /* Space above the double images */
  margin-bottom: 2%;
}

.gallery-double-image {
  flex: 1; /* Each image takes equal space */
  max-width: 20%; /* Adjust width for two images with gap */
  text-align: center; /* Center align the images */
  padding: 10px; /* Add some padding around each image */
}

.gallery-double-image img {
  max-width: 100%; /* Ensure images don't exceed their container */
  height: 100%; /* Maintain aspect ratio */
  display: block; /* Ensure images are displayed as blocks */
  border: 5px solid yellow; /* Example border styling */
}

.gallery-triple {
  display: flex; /* Use flexbox for side-by-side layout */
  justify-content: center; /* Center align horizontally */
  margin-top: 20px; /* Space above the double images */
  margin-bottom: 2%;
}

.gallery-triple-image {
  flex: 1; /* Each image takes equal space */
  max-width: 20%; /* Adjust width for two images with gap */
  text-align: center; /* Center align the images */
  padding: 10px; /* Add some padding around each image */
}

.gallery-triple-image img {
  max-width: 100%; /* Ensure images don't exceed their container */
  height: 100%; /* Maintain aspect ratio */
  display: block; /* Ensure images are displayed as blocks */
  border: 5px solid yellow; /* Example border styling */
}

.gallery-images1 {
  margin-bottom: 20px; /* Space below the single image */
}

.gallery-images1 img {
  max-width: 100%; /* Ensure image does not exceed container width */
  width: 60%; /* Set image width */
  border: 5px solid yellow; /* Yellow border */
  display: block; /* Ensure image is centered properly */
  margin: 0 auto; /* Center the image horizontally */
  height: auto; /* Maintain aspect ratio */
}
.gallery-author {
  margin-bottom: 20px; /* Space below the single image */
}

.gallery-author img {
  max-width: 100%; /* Ensure image does not exceed container width */
  width: 45%; /* Set image width */
  border: 5px solid yellow; /* Yellow border */
  display: block; /* Ensure image is centered properly */
  margin: 0 auto; /* Center the image horizontally */
  height: auto; /* Maintain aspect ratio */
}

.blog1 {
  text-align: justify;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  position: relative;
  font-family: "Judson", serif;
}


.stars {
  font-size: 4.5rem;  
  color: #FFC700  ;
  position: absolute;
  bottom: 10px;
  right: 10px;
}



.blog1 h2 strong {
  font-weight: bold;
}

.blog1 p strong {
  font-weight: bold;
}
.blog1 p {
  font-size: 20px;
}


.author-info {
  display: flex;
  justify-content: space-between;
  padding: 60px; /* Add padding around the author-info section */
  font-family: "Judson", serif;
}

.author-oamoments, .author-vitae {
  flex: 1;
  padding-right: 20px; /* Add some space between the two sections */
}

.author-oamoments {
  border-right: 2px solid #AF0000;
}

.author-vitae {
  max-width: 800px;
}

.author-oamoments p {
  font-size: 23px;
}

.author-vitae h3 {
  font-size: 23px;
}
.author-vitae p {
  text-align: justify; /* Ensures paragraphs inside author-vitae are justified */
}

.publication-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.publication-list li {
  width: 45%; /* Adjust width as needed */
  margin-bottom: 50px; /* Add some space between items */
  font-size: 19px;
  text-align: justify;
}

.publications {
  padding-left: 260px;
  padding-right: 260px;
  padding-bottom: 20px;
}

.publications h2 {
  text-align: center;
  padding: 20px;
  padding-bottom: 50px;
  color: #FFC700;
}

/* Clear margin on the last item to prevent extra space */
.publication-list li:last-child {
  margin-right: 0;
}


.national-awards {
  text-align: center;
  padding: 40px;
}

.national-awards p {
  font-size: 30px;
}


.awards-container{
  font-family: "Judson", serif;
}

.publications-divider {
  border: 1px solid #af0000;
  width: 88%;
  align-self: center;
  margin: 0 auto;
}

.hospital-activities{
  padding: 100px;
  font-family: "Judson", serif;
}

.hospital-activities-list{
  padding-left: 180px;
}

.hospital-activities-list li {
  padding-top: 20px;
}

.hospital-activities h2 {
  color: #FFC700;
  font-weight: 400;
  margin-top: -2%;
  padding-left: 190px;
}
.biography{
  text-align: justify;
  padding: 70px;
  font-family: "Judson", serif;
  margin-bottom: 40px;
  margin-top: 40px;
}

.biography-oamoments {
  padding-left: 380px;
  padding-right: 380px;
}
.biography-oamoments p {
  text-align: justify;
  font-size: 18px;
}

.Contact-shet {
  margin-bottom: 10px; /* Space below heading */
}

.Contact-me {
  margin-top: 100px;
}
.Contact-me h1 {
  font-size: 70px; /* Adjust font size */
  color: #131212; /* Adjust text color */
  margin-left: 15%;
  font-family: "Judson", serif;

}

/*LOOOOOOOOOOOOOOOOOOOOOL */

.contact-form {
  background-color: #FFC700;
  padding-bottom: 90px;
  padding-top: 20px;
  padding-left: 90px;
  padding-right: 90px;
  width: 900px;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 50px;
  height: 600px;
  font-family: "Cuprum", sans-serif;
}
.wrapper {
  min-height: 100vh; /* Ensure wrapper takes at least full viewport height */
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* Ensure horizontal overflow is hidden */
}

.background-redbar {
  background-color: #AF0000;
  width: 500px;
  position: fixed;
  top: 0;
  right: 1%;
  bottom: 0; /* Adjusted to cover the full height */
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align footer items to the bottom */
  padding: 20px; /* Optional: Add padding for spacing */
}


.Contact-Me-Lage-Daw {
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: "Cambria", serif;
}
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
  background-color: transparent;
}
/* CSS for white placeholder text */
.form-group input::placeholder,
.form-group textarea::placeholder {
  color: rgba(255, 255, 255, 0.747);
}

.form-group textarea {
  height: 100px;
  resize: vertical;
}

.submit-btn {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  background-color: transparent;
  color: rgb(5, 5, 5);
  cursor: pointer;
  border-radius: 5px;
  font-size: 25px;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #AF0000;
}

.form-group-inline {
  display: flex;
  gap: 10px; /* Adjust the gap between fields */
}

.form-group-inline .form-group {
  flex: 1; /* Each field takes equal space */
}
/* Base styles remain the same */

/* For tablets and smaller screens */
@media (max-width: 992px) {
  .contact-form {
    width: 90%; /* Adjust width to take full screen on smaller devices */
    padding: 20px; /* Reduce padding for better spacing on smaller screens */
    margin: 0 auto; /* Center the form */
  }
  .background-redbar {
    width: 100%; /* Full width for the red bar */
    right: 0; /* Adjusted for full width */
  }
  .Contact-me h1 {
    font-size: 45px; /* Adjust font size */
    color: #131212; /* Adjust text color */
    margin-left: 5%;
    font-family: "Judson", serif;
  
  }

}

/* For smartphones */
@media (max-width: 992px) {
  .contact-form {
    padding: 15px; /* Further reduce padding */
  }
  .form-group,
  .form-group-inline .form-group {
    width: 100%; /* Full width for form inputs */
  }
  .form-group label {
    font-size: 18px; /* Adjust label font size */
  }
  .submit-btn {
    font-size: 20px; /* Adjust button font size */
  }
  .background-redbar {
    background-color: #fdfdfd;
  }

}




@media (min-width: 990px){
  .author-info {
    display: flex;
    justify-content: space-between;
    padding: 60px; /* Add padding around the author-info section */
    padding-left: 80px;
    font-family: "Judson", serif;
    padding-right: 130px;
  }
  
  .author-oamoments, .author-vitae {
    flex: 1;
  }
  
  .author-oamoments {
    border-right: 2px solid #AF0000;
    padding-left: 80px;
  }

  .author-oamoments p {
    text-align: justify;
  }
  
  .author-vitae {
    text-align: justify;
    max-width: 800px;
    padding: 0 50px; /* Add padding inside the author-vitae section */
  }
  
  .author-vitae p {
    text-align: justify; /* Ensures paragraphs inside author-vitae are justified */
  }
  .author-vitae h3 {
    color: #FFC700;
    
  }
  .biography{
    text-align: center;
    padding: 10px;
    padding-top: 40px;
  }

  .biography-oamoments p {
    text-align: center;
  }


}

@media (min-width: 992px) {
  .footer1 {
    margin-left: auto; /* Reset margin to center */
    width: 500px; /* Full width on smaller screens */
    margin-right: 1%;
  }

}

@media (max-width: 768px) {
  .author-info {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: stretch; /* Stretch items to full width */
  }
  .footer1 {
    margin-left: auto; /* Reset margin to center */
    width: 100%; /* Full width on smaller screens */
  }

  .author-oamoments, .author-vitae {
    padding: 0; /* Remove padding when stacked */
    border: none; /* Remove border when stacked */
    max-width: none; /* Allow content to expand full width */
  }

  .author-oamoments {
    padding-left: 0; /* Adjust padding as needed */
  }

  .author-vitae {
    padding: 0; /* Adjust padding as needed */
  }
  .author-oamoments p, .author-vitae p {
    text-align: justify;
  }
  .author-vitae h3 {
    color: #FFC700;
  }
  .publication-list li {
    width: 100%; /* Full width on mobile */
    margin-right: 0; /* No margin on mobile */
  }
  .publications {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .hospital-activities{
    padding: 0px;
    font-family: "Judson", serif;
    
  }
  .hospital-activities-list{
    padding-left: 30px;
  }
  .hospital-activities h2 {
    color: #FFC700;
    font-weight: 400;
    margin-top: 2%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .biography{
    text-align: center;
    padding: 10px;
    padding-top: 40px;
  }
  
  .biography-oamoments {
    padding-left: 40px;
    padding-right: 40px;
  }
  .biography-oamoments p {
    text-align: center;
  }
  
}

/* Tablets and larger phones */
@media (max-width: 990px) {
  .gallery-text h1 {
    font-size: 28px; /* Adjust font size */
  }
  .publication-list li {
    width: 100%; /* Full width on mobile */
    margin-right: 0; /* No margin on mobile */
  }

  .gallery-double-image, .gallery-triple-image {
    max-width: 50%; /* Adjust width for two images with gap */
  }
  .homepage-link {
    margin-right: 20px;
    margin-left: 0px; /* Adjust the value as needed */
  }
  .publication-list li {
    width: 100%; /* Full width on mobile */
    margin-right: 0; /* No margin on mobile */
  }
  .publications {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .biography{
    text-align: center;
    padding: 10px;
    padding-top: 40px;
  }
  
  .biography-oamoments {
    padding-left: 40px;
    padding-right: 40px;
  }
  .biography-oamoments p {
    text-align: center;
  }
  .hospital-activities{
    padding: 0px;
    font-family: "Judson", serif;
    
  }
  .hospital-activities-list{
    padding-left: 30px;
  }
  .hospital-activities h2 {
    color: #FFC700;
    font-weight: 400;
    margin-top: 2%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Phones */
@media (max-width: 990px) {
  .gallery-text h1 {
    font-size: 80px; /* Further adjust font size */
    margin-left: 0; /* Remove or adjust margin as needed */
    text-align: center; /* Center align heading */
  }

  .gallery-double, .gallery-triple {
    flex-wrap: wrap; /* Allow images to stack vertically */
  }

  .gallery-double-image, .gallery-triple-image {
    flex: 1 0 100%; /* Full width for each image on smaller screens */
    max-width: 100%;
    margin-bottom: 10px; /* Space between stacked images */
  }

  .gallery-double-image img, .gallery-triple-image img {
    width: 100%; /* Set full width for each image */
  }
  .gallery-images img , .gallery-images1 img {
    width: 100%;
  }
  .gallery-images1 img {
    width: 100%;
    height: 100%;
  }
  .gallery-author img {
    width: 100%;
  }
  .gallery-author img {
    width: 100%;
    height: 100%;
  }
  .homepage-link {
    margin-right: 20px;
    margin-left: 0px; /* Adjust the value as needed */
  }
  .publication-list li {
    width: 100%; /* Full width on mobile */
    margin-right: 0; /* No margin on mobile */
  }
  .publications {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .biography{
    text-align: center;
    padding: 10px;
    padding-top: 40px;
  }
  
  .biography-oamoments {
    padding-left: 40px;
    padding-right: 40px;
  }
  .biography-oamoments p {
    text-align: center;
  }
  .footer1 {
    margin-left: auto; /* Reset margin to center */
    width: 100%; /* Full width on smaller screens */
  }

}

/* Adjust navbar padding and brand size for tablets and iPads */
@media (max-width: 990px) and (min-width: 769px) {
  .navbar {
      padding-left: 8%; /* Adjust padding for tablets */
      padding-right: 8%; /* Adjust padding for tablets */
  }
  .navbar-brand {
      font-size: 24px; /* Increase font size for tablets */
  }
  .bg-pj {
      height: 600px; /* Adjust height for tablets */
  }
  .bg-pj::after {
      height: 20%; /* Adjust fade height for tablets */
  }
  .carousel-item img {
    max-height: 300px; /* Remove max-height to allow natural image size */
    height: auto; /* Ensure images maintain aspect ratio */
    max-width: 100%; /* Ensure images fit within carousel */
    margin: auto; /* Center the image horizontally */
}
.homepage-link {
  margin-right: 20px;
  margin-left: 0px; /* Adjust the value as needed */
}
.footer1 {
  margin-left: auto; /* Reset margin to center */
  width: 100%; /* Full width on smaller screens */
}

  .carousel-item {
      height: auto; /* Adjust height for tablets */
      margin-top: 12%; /* Adjust margin top for tablets */
  }
  .carousel-buttons img {
      height: 70px; /* Adjust button height for tablets */
  }
  .carousel-control-prev,
  .carousel-control-next {
      width: 40px; /* Adjust width for tablets */
      height: 40px; /* Adjust height for tablets */
      font-size: 16px; /* Adjust font size for tablets */
      margin-top: 40%; /* Adjust margin top for tablets */
  }
  .biography{
    text-align: center;
    padding: 10px;
    padding-top: 40px;
  }
  
  .biography-oamoments {
    padding-left: 40px;
    padding-right: 40px;
  }
  .biography-oamoments p {
    text-align: center;
  }
}

/* Make dropdown menu responsive for tablets and iPads */
@media (max-width: 990px) {
  .dropdown-menu {
      border-radius: 0;
      border-width: 0;
      box-shadow: none;
  }
  .dropdown-divider {
      display: none; /* Hide dropdown divider on tablets and iPads */
  }
  .youtube-video iframe {
      height: 250px; /* Adjust height for tablets and iPads */
  }
  .homepage-link {
    margin-right: 20px;
    margin-left: 0px; /* Adjust the value as needed */
  }
  .biography{
    text-align: center;
    padding: 10px;
    padding-top: 40px;
  }
  
  .biography-oamoments {
    padding-left: 40px;
    padding-right: 40px;
  }
  .biography-oamoments p {
    text-align: center;
  }
}

/* Adjust navbar padding and brand size for mobile */
@media (max-width: 767px) {
  .navbar {
      padding-left: 5%;
      padding-right: 5%;
  }
  .navbar-brand {
      font-size: 20px;
  }
  .bg-pj::after {
      height: 25%;
  }
  .youtube-video iframe {
      height: 200px;
      width: 100%; /* Reduced height for mobile */
  }
  .bg-pj {
      height: 500px; /* Reduced height for mobile */
  }
  .bg-pj::after {
      height: 25%; /* Adjust fade height for mobile */
  }
  .carousel-item img {
    max-height: 300px; /* Remove max-height to allow natural image size */
    height: auto; /* Ensure images maintain aspect ratio */
    max-width: 100%; /* Ensure images fit within carousel */
    margin: auto; /* Center the image horizontally */
}

  .carousel-item {
      height: auto; /* Adjust height for tablets */
      margin-top: 12%; /* Adjust margin top for tablets */
  }
  .carousel-control-prev,
  .carousel-control-next {
      width: 30px; /* Reduced width for mobile */
      height: 30px; /* Reduced height for mobile */
      font-size: 14px;
      margin-top: 50%; /* Adjust font size for mobile */
  }
  .carousel-buttons img {
      height: 65px; /* Further reduce height for very small screens */
  }
  .carousel-buttons img {
      height: 50px; /* Reduce height for smaller screens */
      width: auto; /* Allow width to adjust based on height */
      max-width: 100%; /* Ensure the image doesn't overflow */
  }
  .homepage-link {
    margin-right: 20px;
    margin-left: 0px; /* Adjust the value as needed */
  }
  .biography{
    text-align: center;
    padding: 10px;
    padding-top: 40px;
  }
  
  .biography-oamoments {
    padding-left: 40px;
    padding-right: 40px;
  }
  .biography-oamoments p {
    text-align: center;
  }
}


/* Make dropdown menu responsive */
@media (max-width: 990px) {
  .dropdown-menu {
      border-radius: 0;
      border-width: 0;
      box-shadow: none;
  }
  .dropdown-divider {
      display: none; /* Hide dropdown divider on mobile */
  }
  .youtube-video iframe {
      height: 200px;
      width: 100%; /* Reduced height for mobile */
  }
  .homepage-link {
    margin-right: 20px;
    margin-left: 0px; /* Adjust the value as needed */
  }
}